                            html body {
                                box-sizing: border-box;
                                margin: 0%;
                            }
                            
                            * {
                                box-sizing: border-box;
                            }
                            
                            body {
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                text-align: center;
                                background: linear-gradient(to left, rgb(82, 153, 24), rgb(143, 9, 92));
                            }
                            
                            header {
                                box-sizing: border-box;
                                width: 100%;
                                padding: 0rem;
                                margin: 0;
                                background: linear-gradient(to left, rgb(82, 153, 24), rgb(143, 9, 92));
                                position: fixed;
                                top: 0;
                                left: 0;
                                right: 0;
                            }
                            
                            header nav ul {
                                list-style-type: none;
                                display: inline-block;
                                width: 50%;
                                padding: 0;
                                margin-top: 2rem;
                            }
                            
                            nav li {
                                display: inline-block;
                                margin: 0px;
                            }
                            
                            nav li a {
                                margin: 0px;
                                text-decoration: none;
                                color: rgb(255, 255, 255);
                                display: inline-block;
                                padding: .6rem 1rem;
                            }
                            
                            a {
                                color: rgb(255, 255, 255);
                                text-decoration: none;
                            }
                            
                            nav a:hover,
                            nav a:active {
                                color: rgb(176, 214, 176);
                                border: 1px solid rgb(223, 168, 65);
                                border-radius: 0.4rem;
                            }